# Snippets for Java

snippet main "Main Function"
public static void main(String[] args) {
	${1:/*Your Code Here*/}
}
endsnippet

snippet map "Map<String, Integer>"
Map<${1:String}, ${2:Integer}>
endsnippet
